<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staffing.mapper.EmployeeMapper">

    <select id="getDeptCount" resultType="com.staffing.controller.dto.CountDto">
        select d.name name, count(e.deptno) value
        from employee e,
            department d
        where e.deptno = d.deptno
        group by d.name
    </select>
    <select id="getPostCount" resultType="com.staffing.controller.dto.CountDto">
        select p.name name, count(e.postno) value
        from employee e,
            post p
        where e.postno = p.postno
        group by name
    </select>
    <select id="findAllNameInfoByEmpno" resultType="com.staffing.controller.dto.EmployeeNameInfoDto">
        select e.empno   empno,
               e.name    empName,
               e.role_id roleId,
               r.name    roleName,
               e.deptno  deptno,
               d.name    deptName,
               e.postno  postno,
               p.name    postName
        from employee e,
             sys_role r,
             department d,
             post p
        <where>
            and e.role_id = r.role_id
            and e.deptno = d.deptno
            and e.postno = p.postno
            <if test="empno != null and empno != ''">
                and e.empno = #{empno}
            </if>
        </where>
    </select>
</mapper>
