<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.staffing.mapper.VacationMapper">

    <select id="page" resultType="com.staffing.controller.dto.VacationPageDto">
        select v.id id,
        e.empno empno,
        e.name empName,
        e.role_id roleId,
        r.name roleName,
        d.deptno deptno,
        d.name deptName,
        p.postno postno,
        p.name postName,
        v.reason reason,
        v.start_datetime start_datetime,
        v.end_datetime end_datetime,
        v.input_datetime input_datetime,
        v.state state,
        v.check_empno check_empno,
        v.check_datetime check_datetime
        from employee e,
        sys_role r,
        department d,
        post p,
        vacation v
        where e.role_id = r.role_id
        and e.deptno = d.deptno
        and e.postno = p.postno
        and v.empno = e.empno
        <if test="roleId != null and roleId != ''">
            and e.role_id = #{roleId}
        </if>
        <if test="deptno != null and deptno != ''">
            and e.deptno = #{deptno}
        </if>
        <if test="postno != null and postno != ''">
            and e.postno = #{postno}
        </if>
        <if test="search != null and search != ''">
            and e.name like #{search} and e.empno like #{search}
        </if>
        limit #{pageNum}, #{pageSize}
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(v.id)
        from employee e,
        sys_role r,
        department d,
        post p,
        vacation v
        WHERE e.role_id = r.role_id
        and e.deptno = d.deptno
        and e.postno = p.postno
        and v.empno = e.empno
        <if test="roleId != null and roleId != ''">
            and e.role_id = #{roleId}
        </if>
        <if test="deptno != null and deptno != ''">
            and e.deptno = #{deptno}
        </if>
        <if test="postno != null and postno != ''">
            and e.postno = #{postno}
        </if>
        <if test="search != null and search != ''">
            and e.name like #{search} and e.empno like #{search}
        </if>
    </select>
</mapper>
